<template>
  <section>
    <Question
      v-if="question && isLoggedIn"
      v-bind="question"
      v-on:submit="submitAnswer"
    />
    <p v-if="isLoggedIn() && !questions">
      Loading...
    </p>
    <p v-if="!isLoggedIn()">
      You are not logged in. Redirecting...
    </p>
  </section>
</template>

<script>
import Question from "./Question.vue";

export default {
  name: "Game",
  components: {
    Question
  },
  props: ["username"],
  data() {
    return {
      questions: null,
      question: null
    };
  },
  created() {
    if (this.isLoggedIn()) {
      this.fetchData(Math.floor(Math.random() * 10 + 10));
    } else {
      setTimeout(() => this.$router.push("/"), 2000);
    }
  },
  methods: {
    fetchData: function(amount = 10) {
      fetch(`https://opentdb.com/api.php?amount=${amount}`)
        .then(response => response.json())
        .then(json => {
          this.questions = json.results;
          this.question = this.getQuestion();
        });
    },
    isLoggedIn: function() {
      return this.username;
    },
    getQuestion: function(filter) {
      if (filter) {
        let filtered = this.questions.filter(filter);
        let rand = Math.floor(Math.random() * filtered.length);
        return filtered[rand];
      } else {
        let rand = Math.floor(Math.random() * this.questions.length);
        return this.questions[rand];
      }
    },
    submitAnswer: function(answer) {
      this.question.user_answer = answer;
      this.question = this.getQuestion(q => !q.user_answer);

      if (!this.question) this.finishGame();
    },
    finishGame: function() {
      this.$router.push({
        name: "gameover",
        params: {
          username: this.username,
          questions: this.questions
        }
      });
    }
  }
};
</script>
