<template>
  <section v-if="questions">
    <h1>Game Over!</h1>
    <p><span v-html="username" />'s score: {{ score }} / {{ maxScore }}</p>
    <div class="flex results">
      <Result
        v-for="q in questions"
        v-bind="q"
        v-bind:key="q.key"
        v-on:correct="increaseScore"
      />
    </div>

    <router-link to="/"><button>Login</button></router-link>
    <button v-on:click="playAgain">Play again</button>
  </section>
</template>

<script>
import Result from "../components/Result.vue";

export default {
  name: "GameOver",
  components: {
    Result
  },
  props: ["username", "questions"],
  data() {
    return {
      score: 0,
      maxScore: this.questions.length * 10
    };
  },
  created() {
    if (!this.username || !this.questions) this.$router.push("/");
  },
  methods: {
    increaseScore() {
      this.score += 10;
    },
    playAgain() {
      this.$router.push({
        name: "game",
        params: {
          username: this.username
        }
      });
    }
  }
};
</script>

<style lang="scss" scoped>
section {
  max-width: 50%;
}
div {
  flex-wrap: wrap;
  justify-content: space-around;
}
</style>
