<template>
  <section>
    <h1>Welcome to Vue Trivia!</h1>
    <p>Please enter your player name.</p>
    <fieldset>
      <input v-model="username" placeholder="Name..." />
      <button v-on:click="login">Start game</button>
    </fieldset>
  </section>
</template>

<script>
export default {
  name: "Main",
  data() {
    return {
      username: ""
    };
  },
  methods: {
    login: function() {
      this.$router.push({
        name: "game",
        params: {
          username: this.username
        }
      });
    }
  }
};
</script>

<style scoped lang="scss">
fieldset {
  border: 0px;
}
</style>
