<template>
  <div>
    <p v-html="category"></p>
    <p v-html="question"></p>
    <form>
      <Answer
        v-for="ans in answers"
        v-bind:answer="ans"
        v-bind:key="ans.id"
        v-on:submit="submit"
      />
    </form>
  </div>
</template>

<script>
import Answer from "../components/Answer.vue";

export default {
  name: "Question",
  components: {
    Answer
  },
  props: {
    question: {
      required: true
    },
    category: {
      required: true
    },
    correct_answer: {
      required: true
    },
    incorrect_answers: {
      required: true
    }
  },
  computed: {
    answers: function() {
      let answers = this.incorrect_answers.concat(this.correct_answer);
      for (let i = answers.length; i !== 0; ) {
        let rand = Math.floor(Math.random() * i--);

        let temp = answers[i];
        answers[i] = answers[rand];
        answers[rand] = temp;
      }

      return answers;
    }
  },
  methods: {
    submit: function(event) {
      this.$emit("submit", event.target.value);
    }
  }
};
</script>

<style lang="scss" scoped>
p {
  font-family: "Comic Sans MS";
}
</style>
