<template>
  <button v-bind:value="answer" v-html="answer" v-on:click="submit"></button>
</template>

<script>
export default {
  name: "Answer",
  props: {
    answer: String
  },
  methods: {
    submit: function(event) {
      this.$emit("submit", event);
    }
  }
};
</script>
