<template>
  <section>
    <p v-html="question"></p>
    <p class="answer">
      Your answer:
      <span
        v-bind:class="{ green: correct, red: !correct }"
        v-html="user_answer"
      />
      <span
        v-if="!correct"
        class="correct_answer green"
        v-html="correct_answer"
      />
    </p>
  </section>
</template>

<script>
export default {
  name: "Result",
  props: {
    question: {
      required: true
    },
    category: {
      required: true
    },
    correct_answer: {
      required: true
    },
    user_answer: {
      required: true
    }
  },
  computed: {
    correct: function() {
      return this.correct_answer === this.user_answer;
    }
  },
  created() {
    if (this.correct) this.$emit("correct");
  }
};
</script>

<style lang="scss" scoped>
section {
  border: 2px solid lightgray;
  width: 40%;
  font-size: 12px;
  padding: 5px;
  margin: 2px;
}

span {
  border-radius: 5px;
  font-weight: 600;
  color: white;
  padding: 5px;
}

.correct_answer {
  visibility: hidden;
  position: absolute;
}

.red {
  background: red;
}

.green {
  background: green;
}

.answer:hover .correct_answer {
  visibility: visible;
}
</style>
