<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png" />
    <main>
      <router-view></router-view>
    </main>
  </div>
</template>

<script>
export default {
  name: "app"
};
</script>

<style lang="scss">
body,
html {
  background: #000;
  height: 100%;
  padding: 0;
  margin: 0;
}

#app {
  background: url("./assets/background.jpg") no-repeat;
  background-size: cover;
  font-family: "Comic Sans MS";
  font-size: 25px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100%;
}

main {
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
}

section {
  background: #fff;
  border-radius: 10px;
  border: 10px solid lightgray;
  padding: 25px;
}

input,
button {
  font-weight: 600;
  border-radius: 5px;
  border-width: 1px;
  padding: 10px;
  margin: 5px;
}

button {
  background: rgb(99, 199, 99);
  color: white;
}

.flex {
  display: flex;
}
</style>
